USE [CRM_BLUE]
GO
/****** Object:  StoredProcedure [dbo].[_GET_RELATORIO_RECEBIMENTO_DATA]    Script Date: 12/11/2019 17:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[_GET_RELATORIO_RECEBIMENTO_DATA]
(
	@DATA_INI DATETIME,
	@DATA_FIM DATETIME
)
AS
BEGIN
	
	SET NOCOUNT ON

	DECLARE @MESES TABLE (
		ANO VARCHAR(256),
		MES VARCHAR(256),
		MES_NOME VARCHAR(256),
		ANO_MES_DIA DATETIME,
		MES_ANO VARCHAR(256)
	);
	DECLARE @CURRENT DATETIME
	DECLARE @TEMP DATETIME

	SELECT TOP 1 @TEMP = DATA_RECEBIMENTO FROM FATURAMENTO WHERE STATUS = 2 ORDER BY DATA_RECEBIMENTO ASC

	IF @TEMP > @DATA_INI
		SET @DATA_INI = DATEADD(MONTH, DATEDIFF(MONTH ,0, @TEMP), 0)

	SET @CURRENT = @DATA_INI

	WHILE @CURRENT <  @DATA_FIM
	BEGIN

		INSERT INTO @MESES VALUES (
			YEAR(@CURRENT), 
			MONTH(@CURRENT), 
			DATENAME(MONTH,@CURRENT), 
			CONCAT(YEAR(@CURRENT),'-',MONTH(@CURRENT),'-01'),
			CONCAT(FORMAT(@CURRENT, 'MMM'),'/',YEAR(@CURRENT))
		)

		SET @CURRENT = DATEADD(MONTH, 1, @CURRENT)

	END

	SELECT  M.ANO AS ANO,
			M.MES AS MES,
			M.MES_NOME AS MES_NOME,
			M.ANO_MES_DIA AS ANO_MES_DIA,
			M.MES_ANO AS MES_ANO,
			SUM(D.VALOR) AS VALOR_MES
	FROM 
	@MESES AS M
	LEFT JOIN 
	( SELECT DATA_RECEBIMENTO, VALOR
		FROM FATURAMENTO
		WHERE STATUS = 2 AND DATA_RECEBIMENTO >= @DATA_INI AND DATA_RECEBIMENTO < @DATA_FIM
	) D
	ON M.MES = MONTH(D.DATA_RECEBIMENTO) AND M.ANO = YEAR(D.DATA_RECEBIMENTO)
	GROUP BY ANO, MES, MES_NOME, ANO_MES_DIA, MES_ANO
	ORDER BY ANO_MES_DIA DESC

END


SET ANSI_NULLS ON
